Song,ARTIST,1/1/2023,1/8/2023,1/15/2023,1/22/2023,1/29/2023,12/25/2022,2/5/2023,2/12/2023,2/19/2023,2/22/2023,2/26/2023,3/5/2023,3/12/2023,3/19/2023,3/26/2023,4/2/2023,4/9/2023,4/16/2023,4/23/2023,4/30/2023,5/7/2023,5/14/2023,5/21/2023,5/28/2023,6/4/2023,6/11/2023,6/18/2023,6/25/2023,7/2/2023,7/9/2023,7/16/2023,7/23/2023,7/30/2023,8/6/2023,8/13/2023,8/20/2023,8/27/2023,9/3/2023,9/10/2023,9/17/2023,9/24/2023
Cornerstone,Hillsong / Hymn,,,X,,,,,,X,,,,,,,,,x,,,,,,X,,,,,,,,,,,,,,,,,?
This I Believe (The Creed),Hillsong (Fielding),,,,,,,,,,,,,,X,,,,,,,,,X,,,,,,,,,,,,,,,,,,?
Goodness of God,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,X,,X,,,,,,?
Death Was Arrested,North Point Worship,,,,,,,,,,,,,,,,,,x,,,,,,,,,,,,,,,,,,,,,,,?
Behold the Lamb (Communion),Getty,Communion,,,,,,,,,,,,,,,,,,,,,,X,,,,,,,,,,,,,,,,,,?
The Lord's Prayer (It's Yours),Matt Maher,,,,X,X,,X,X,,,,,,,,,,,,,,,X,,,,,,X,,,,,,,,,,,X,
Build My Life,Pat Barrett,,,X,,,,,,,,,,,,,,,,,,,,,,,,X,,,,,,,,,,,,,X,
In Christ Alone,Getty / Townend,,,,,,,,,,,,,,,,,X,,,,,,,,,,,,X,,,,,,,,,,,X,
Shout to the Lord,Hillsong (Darlene Zschech),,X,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,X,
Take My Life (and Let It Be),Hymn / Tomlin,Lent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,X,
Indescribable,Laura Story (Tomlin),,,,,,,,,,,,,,,,,,,,,,,,X,,,,,,,,,,,,,,,1,,
God So Loved,We the kingdom,,,,,,,,,,,,X,,,,,,,,X,,,X,,,,,,,,,,,,,,,,2,,
Hosanna (I See The King of Glory),Hillsong (Brooke Ligertwood),Advent,,,,,,,,,,,,,,,X,,,,,,,,,,,,,,,,,,,,,,,4,,
Let it be so with your church,Carolyn Cobb,,,X,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,Special,,
Days of Elijah,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,3,,
Forever (We Sing Hallelujah),Kari Jobe,Easter,,,,,,,,,,,,,,,,X,,,,,,,,,,,,,,,,,,,,,3,,,
How Great Is Our God,Chris Tomlin,,,,,,,,,,,,,,,,,,,,,,,,X,,,,,,,,,,,,,,2,,,
Open The Eyes Of My Heart,Paul Baloche,,,,,,,,,,,,,X,,,,,,,,,,,,,,,,,,,,,,,,,1,,,
O For A Thousand Tongues,Hymn (Crowder),,,,,,,,,,,,,Hymn,,,,,,,,,,,,,,,,,,,,,,,,,Hymn,,,
The Blessing,Kari Jobe,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,4,,,
Our God Is With Us,Rita Springer,,,,,,,,,,,,,,,,,,,X,,,,,,,,,,,,,,,,,,4,,,,
Forever Reign,Hillsong,,,,,,,,,X,,,,,,,,,,,,,,,,,,,,,,,,,,,,3,,,,
Tis So Sweet to Trust in Jesus,Hymn,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,2,,,,
"10,000 Reasons",Matt Redman,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,,,,
Shine Jesus Shine,,,,,,,,,,,,,,,,,,,,,,,,,,Hymn,,,,,,,,,,,,,,Hymn,,
Like a Lamb who needs the shepherd,Hymn 345,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,Hymn,,,,